@media print {
/* insert your style declarations here */

	header{
		display:none;
	}
	
	.sidemenu{
		display:none;
	}
	
	footer{
		display:none;
	}
	
	img{
		display:block;
		width:300px;
		height:auto;
	}
	
	.container {
	border: 0px solid black;
}
	
}