@media print {
/* insert your style declarations here */

	header{
		display:none;
	}
	
	.sidemenu{
		display:none;
	}
	
	footer{
		display:none;
	}
	
	.printonly{
	width:300px;
	height:auto;
	}
	
	#imgprint{
		display:block;
	}
	
	.container {
	border: 0px solid black;
}
	
}